.home-root{

    width: 200px;
    background-color: #ffffff;
    position: relative;
}
.left-nav-list{
    position: absolute;
    width: 100%;
    left:20px;
    display: flex;
    flex-direction: column;
}
.left-nav-item{
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px silver solid;
}
.right-content{
    margin-left: 250px;
}